@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Josefin+Slab|Raleway:200,400,600);@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Josefin+Slab|Raleway:200,400,600);@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Josefin+Slab|Raleway:200,400,600);@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Josefin+Slab|Raleway:200,400,600);.navbar-container {
  display: flex;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #40404d;
  background-image: linear-gradient(#40404d, #3b3b47);
  border-bottom: 2px solid #ff8f31;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  z-index: 100;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 0 3px rgba(64, 64, 77, 0.5); }

.navbar-left {
  flex: 1 1 auto;
  text-align: left;
  font-weight: 200;
  font-size: 30px; }

.navbar-right {
  flex: 1 1 auto;
  text-align: right;
  color: #8fe6d1; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000012;
  padding-top: 50px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 10px; }

h1 {
  font-size: 36px;
  line-height: 46px; }

h2 {
  font-size: 30px;
  line-height: 40px; }

h3 {
  font-size: 26px;
  line-height: 34px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 14px;
  line-height: 20px; }

h6 {
  font-size: 15px;
  line-height: 19.5px; }

strong {
  font-weight: 600; }

p {
  font-size: 15px;
  line-height: 19.5px;
  margin-bottom: 10px; }

code, pre {
  font-family: "Roboto Mono", monospace;
  color: #1f8a70;
  padding: 2px;
  margin: 2px 1px;
  background-color: rgba(143, 230, 209, 0.3);
  border-radius: 4px;
  line-height: 15px;
  font-size: 12px; }

pre {
  display: inline-block;
  margin: 10px;
  padding: 10px; }

.navbar-container {
  display: flex;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #40404d;
  background-image: linear-gradient(#40404d, #3b3b47);
  border-bottom: 2px solid #ff8f31;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  z-index: 100;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 0 3px rgba(64, 64, 77, 0.5); }

.navbar-left {
  flex: 1 1 auto;
  text-align: left;
  font-weight: 200;
  font-size: 30px; }

.navbar-right {
  flex: 1 1 auto;
  text-align: right;
  color: #8fe6d1; }

.button {
  border-radius: 4px;
  padding: 10px;
  background-color: #808089;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 5px;
  transition: all 90ms ease-in;
  text-shadow: 1px 1px 2px rgba(0, 0, 18, 0.25);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }

.button.button-large {
  font-size: 20px;
  padding: 12.5px; }

.button:disabled {
  background-color: #40404d; }

.button:hover {
  background-color: #bfbfc4; }

.button.intent-danger {
  background-color: #be0002; }

.button.intent-danger:hover {
  background-color: #ff7273; }

.button.intent-warning {
  background-color: #ff8f31; }

.button.intent-warning:hover {
  background-color: #ffab64; }

.button.intent-success {
  background-color: #3cd3ae; }

.button.intent-success:hover {
  background-color: #8fe6d1; }

.button.intent-info {
  background-color: #0091be; }

.button.intent-info:hover {
  background-color: #25cbff; }

.button.button-minimal {
  background-color: transparent;
  color: #808089;
  text-shadow: none;
  background-image: none; }

.button.button-minimal:hover {
  background-color: #808089;
  color: #FFFFFF; }

.button.button-minimal.intent-danger {
  background-color: transparent;
  color: #ff7273; }

.button.button-minimal.intent-danger:hover {
  background-color: #be0002;
  color: #FFFFFF; }

.button.button-minimal.intent-warning {
  background-color: transparent;
  color: #ffab64; }

.button.button-minimal.intent-warning:hover {
  background-color: #ff8f31;
  color: #FFFFFF; }

.button.button-minimal.intent-info {
  background-color: transparent;
  color: #0091be; }

.button.button-minimal.intent-info:hover {
  background-color: #0091be;
  color: #FFFFFF; }

.button.button-minimal.intent-success {
  background-color: transparent;
  color: #3cd3ae; }

.button.button-minimal.intent-success:hover {
  background-color: #3cd3ae;
  color: #FFFFFF; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000012;
  padding-top: 50px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 10px; }

h1 {
  font-size: 36px;
  line-height: 46px; }

h2 {
  font-size: 30px;
  line-height: 40px; }

h3 {
  font-size: 26px;
  line-height: 34px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 14px;
  line-height: 20px; }

h6 {
  font-size: 15px;
  line-height: 19.5px; }

strong {
  font-weight: 600; }

p {
  font-size: 15px;
  line-height: 19.5px;
  margin-bottom: 10px; }

code, pre {
  font-family: "Roboto Mono", monospace;
  color: #1f8a70;
  padding: 2px;
  margin: 2px 1px;
  background-color: rgba(143, 230, 209, 0.3);
  border-radius: 4px;
  line-height: 15px;
  font-size: 12px; }

pre {
  display: inline-block;
  margin: 10px;
  padding: 10px; }

.navbar-container {
  display: flex;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #40404d;
  background-image: linear-gradient(#40404d, #3b3b47);
  border-bottom: 2px solid #ff8f31;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  z-index: 100;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 0 3px rgba(64, 64, 77, 0.5); }

.navbar-left {
  flex: 1 1 auto;
  text-align: left;
  font-weight: 200;
  font-size: 30px; }

.navbar-right {
  flex: 1 1 auto;
  text-align: right;
  color: #8fe6d1; }

.button {
  border-radius: 4px;
  padding: 10px;
  background-color: #808089;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 5px;
  transition: all 90ms ease-in;
  text-shadow: 1px 1px 2px rgba(0, 0, 18, 0.25);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }

.button.button-large {
  font-size: 20px;
  padding: 12.5px; }

.button:disabled {
  background-color: #40404d; }

.button:hover {
  background-color: #bfbfc4; }

.button.intent-danger {
  background-color: #be0002; }

.button.intent-danger:hover {
  background-color: #ff7273; }

.button.intent-warning {
  background-color: #ff8f31; }

.button.intent-warning:hover {
  background-color: #ffab64; }

.button.intent-success {
  background-color: #3cd3ae; }

.button.intent-success:hover {
  background-color: #8fe6d1; }

.button.intent-info {
  background-color: #0091be; }

.button.intent-info:hover {
  background-color: #25cbff; }

.button.button-minimal {
  background-color: transparent;
  color: #808089;
  text-shadow: none;
  background-image: none; }

.button.button-minimal:hover {
  background-color: #808089;
  color: #FFFFFF; }

.button.button-minimal.intent-danger {
  background-color: transparent;
  color: #ff7273; }

.button.button-minimal.intent-danger:hover {
  background-color: #be0002;
  color: #FFFFFF; }

.button.button-minimal.intent-warning {
  background-color: transparent;
  color: #ffab64; }

.button.button-minimal.intent-warning:hover {
  background-color: #ff8f31;
  color: #FFFFFF; }

.button.button-minimal.intent-info {
  background-color: transparent;
  color: #0091be; }

.button.button-minimal.intent-info:hover {
  background-color: #0091be;
  color: #FFFFFF; }

.button.button-minimal.intent-success {
  background-color: transparent;
  color: #3cd3ae; }

.button.button-minimal.intent-success:hover {
  background-color: #3cd3ae;
  color: #FFFFFF; }

.swatch-group {
  display: flex;
  width: 60px;
  height: 180px;
  border-radius: 4px;
  margin: 5px 0;
  flex-direction: column;
  float: left;
  margin: 5px; }

.swatch-group-title {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  height: 0;
  position: relative;
  top: 15px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 18, 0.5); }

.swatch {
  flex: 1 1 auto;
  max-width: 60px;
  max-height: 60px; }

.swatch:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.swatch:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.swatch-black {
  background-color: #000012;
  color: #FFFFFF; }

.swatch-white {
  background-color: #FFFFFF;
  color: #000012; }

.swatch-grey1 {
  background-color: #40404d; }

.swatch-grey2 {
  background-color: #808089; }

.swatch-grey3 {
  background-color: #bfbfc4; }

.swatch-blue1 {
  background-color: #004358; }

.swatch-blue2 {
  background-color: #0091be; }

.swatch-blue3 {
  background-color: #25cbff; }

.swatch-green1 {
  background-color: #bedb39; }

.swatch-green2 {
  background-color: #cce364; }

.swatch-green3 {
  background-color: #daeb8f; }

.swatch-red1 {
  background-color: #8b0002; }

.swatch-red2 {
  background-color: #be0002; }

.swatch-red3 {
  background-color: #ff7273; }

.swatch-teal1 {
  background-color: #1f8a70; }

.swatch-teal2 {
  background-color: #3cd3ae; }

.swatch-teal3 {
  background-color: #8fe6d1; }

.swatch-orange1 {
  background-color: #fd7400; }

.swatch-orange2 {
  background-color: #ff8f31; }

.swatch-orange3 {
  background-color: #ffab64; }

.swatch-yellow1 {
  background-color: #ffe11a; }

.swatch-yellow2 {
  background-color: #ffe84d; }

.swatch-yellow3 {
  background-color: #ffee80; }
.blockquote {
  margin-bottom: 10px;
  border-left: 4px solid #d9d9db;
  padding-left: 20px;
  line-height: 20.4px; }
  .blockquote .reference {
    display: block;
    text-align: left;
    margin-top: 15px;
    color: #808089;
    font-style: italic; }
  .blockquote .reference::before {
    content: "\2014";
    padding-right: 5px; }
  .blockquote .citation {
    font-style: normal; }
  .blockquote .quote::before {
    content: "\201C"; }
  .blockquote .quote::after {
    content: "\201D"; }
  .blockquote .quote::before,
  .blockquote .quote::after {
    color: #bfbfc4;
    font-size: 20px; }

.blockquote-right {
  border-left: none;
  border-right: 4px solid #d9d9db;
  padding-left: 0;
  padding-right: 20px;
  text-align: right; }
  .blockquote-right .reference {
    text-align: right; }
  .blockquote-right .reference::before {
    display: none; }
  .blockquote-right .reference::after {
    content: "\2014";
    padding-left: 5px; }
.button {
  border-radius: 4px;
  padding: 10px;
  background-color: #808089;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 5px;
  transition: all 90ms ease-in;
  text-shadow: 1px 1px 2px rgba(0, 0, 18, 0.25);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }

.button.button-large {
  font-size: 20px;
  padding: 12.5px; }

.button:disabled {
  background-color: #40404d; }

.button:hover {
  background-color: #bfbfc4; }

.button.intent-danger {
  background-color: #be0002; }

.button.intent-danger:hover {
  background-color: #ff7273; }

.button.intent-warning {
  background-color: #ff8f31; }

.button.intent-warning:hover {
  background-color: #ffab64; }

.button.intent-success {
  background-color: #3cd3ae; }

.button.intent-success:hover {
  background-color: #8fe6d1; }

.button.intent-info {
  background-color: #0091be; }

.button.intent-info:hover {
  background-color: #25cbff; }

.button.button-minimal {
  background-color: transparent;
  color: #808089;
  text-shadow: none;
  background-image: none; }

.button.button-minimal:hover {
  background-color: #808089;
  color: #FFFFFF; }

.button.button-minimal.intent-danger {
  background-color: transparent;
  color: #ff7273; }

.button.button-minimal.intent-danger:hover {
  background-color: #be0002;
  color: #FFFFFF; }

.button.button-minimal.intent-warning {
  background-color: transparent;
  color: #ffab64; }

.button.button-minimal.intent-warning:hover {
  background-color: #ff8f31;
  color: #FFFFFF; }

.button.button-minimal.intent-info {
  background-color: transparent;
  color: #0091be; }

.button.button-minimal.intent-info:hover {
  background-color: #0091be;
  color: #FFFFFF; }

.button.button-minimal.intent-success {
  background-color: transparent;
  color: #3cd3ae; }

.button.button-minimal.intent-success:hover {
  background-color: #3cd3ae;
  color: #FFFFFF; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000012;
  padding-top: 50px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 10px; }

h1 {
  font-size: 36px;
  line-height: 46px; }

h2 {
  font-size: 30px;
  line-height: 40px; }

h3 {
  font-size: 26px;
  line-height: 34px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 14px;
  line-height: 20px; }

h6 {
  font-size: 15px;
  line-height: 19.5px; }

strong {
  font-weight: 600; }

p {
  font-size: 15px;
  line-height: 19.5px;
  margin-bottom: 10px; }

code, pre {
  font-family: "Roboto Mono", monospace;
  color: #1f8a70;
  padding: 2px;
  margin: 2px 1px;
  background-color: rgba(143, 230, 209, 0.3);
  border-radius: 4px;
  line-height: 15px;
  font-size: 12px; }

pre {
  display: inline-block;
  margin: 10px;
  padding: 10px; }

.navbar-container {
  display: flex;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #40404d;
  background-image: linear-gradient(#40404d, #3b3b47);
  border-bottom: 2px solid #ff8f31;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  z-index: 100;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 0 3px rgba(64, 64, 77, 0.5); }

.navbar-left {
  flex: 1 1 auto;
  text-align: left;
  font-weight: 200;
  font-size: 30px; }

.navbar-right {
  flex: 1 1 auto;
  text-align: right;
  color: #8fe6d1; }

.button {
  border-radius: 4px;
  padding: 10px;
  background-color: #808089;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 5px;
  transition: all 90ms ease-in;
  text-shadow: 1px 1px 2px rgba(0, 0, 18, 0.25);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }

.button.button-large {
  font-size: 20px;
  padding: 12.5px; }

.button:disabled {
  background-color: #40404d; }

.button:hover {
  background-color: #bfbfc4; }

.button.intent-danger {
  background-color: #be0002; }

.button.intent-danger:hover {
  background-color: #ff7273; }

.button.intent-warning {
  background-color: #ff8f31; }

.button.intent-warning:hover {
  background-color: #ffab64; }

.button.intent-success {
  background-color: #3cd3ae; }

.button.intent-success:hover {
  background-color: #8fe6d1; }

.button.intent-info {
  background-color: #0091be; }

.button.intent-info:hover {
  background-color: #25cbff; }

.button.button-minimal {
  background-color: transparent;
  color: #808089;
  text-shadow: none;
  background-image: none; }

.button.button-minimal:hover {
  background-color: #808089;
  color: #FFFFFF; }

.button.button-minimal.intent-danger {
  background-color: transparent;
  color: #ff7273; }

.button.button-minimal.intent-danger:hover {
  background-color: #be0002;
  color: #FFFFFF; }

.button.button-minimal.intent-warning {
  background-color: transparent;
  color: #ffab64; }

.button.button-minimal.intent-warning:hover {
  background-color: #ff8f31;
  color: #FFFFFF; }

.button.button-minimal.intent-info {
  background-color: transparent;
  color: #0091be; }

.button.button-minimal.intent-info:hover {
  background-color: #0091be;
  color: #FFFFFF; }

.button.button-minimal.intent-success {
  background-color: transparent;
  color: #3cd3ae; }

.button.button-minimal.intent-success:hover {
  background-color: #3cd3ae;
  color: #FFFFFF; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000012;
  padding-top: 50px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 10px; }

h1 {
  font-size: 36px;
  line-height: 46px; }

h2 {
  font-size: 30px;
  line-height: 40px; }

h3 {
  font-size: 26px;
  line-height: 34px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 14px;
  line-height: 20px; }

h6 {
  font-size: 15px;
  line-height: 19.5px; }

strong {
  font-weight: 600; }

p {
  font-size: 15px;
  line-height: 19.5px;
  margin-bottom: 10px; }

code, pre {
  font-family: "Roboto Mono", monospace;
  color: #1f8a70;
  padding: 2px;
  margin: 2px 1px;
  background-color: rgba(143, 230, 209, 0.3);
  border-radius: 4px;
  line-height: 15px;
  font-size: 12px; }

pre {
  display: inline-block;
  margin: 10px;
  padding: 10px; }

.navbar-container {
  display: flex;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #40404d;
  background-image: linear-gradient(#40404d, #3b3b47);
  border-bottom: 2px solid #ff8f31;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  z-index: 100;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 0 3px rgba(64, 64, 77, 0.5); }

.navbar-left {
  flex: 1 1 auto;
  text-align: left;
  font-weight: 200;
  font-size: 30px; }

.navbar-right {
  flex: 1 1 auto;
  text-align: right;
  color: #8fe6d1; }

.button {
  border-radius: 4px;
  padding: 10px;
  background-color: #808089;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 5px;
  transition: all 90ms ease-in;
  text-shadow: 1px 1px 2px rgba(0, 0, 18, 0.25);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }

.button.button-large {
  font-size: 20px;
  padding: 12.5px; }

.button:disabled {
  background-color: #40404d; }

.button:hover {
  background-color: #bfbfc4; }

.button.intent-danger {
  background-color: #be0002; }

.button.intent-danger:hover {
  background-color: #ff7273; }

.button.intent-warning {
  background-color: #ff8f31; }

.button.intent-warning:hover {
  background-color: #ffab64; }

.button.intent-success {
  background-color: #3cd3ae; }

.button.intent-success:hover {
  background-color: #8fe6d1; }

.button.intent-info {
  background-color: #0091be; }

.button.intent-info:hover {
  background-color: #25cbff; }

.button.button-minimal {
  background-color: transparent;
  color: #808089;
  text-shadow: none;
  background-image: none; }

.button.button-minimal:hover {
  background-color: #808089;
  color: #FFFFFF; }

.button.button-minimal.intent-danger {
  background-color: transparent;
  color: #ff7273; }

.button.button-minimal.intent-danger:hover {
  background-color: #be0002;
  color: #FFFFFF; }

.button.button-minimal.intent-warning {
  background-color: transparent;
  color: #ffab64; }

.button.button-minimal.intent-warning:hover {
  background-color: #ff8f31;
  color: #FFFFFF; }

.button.button-minimal.intent-info {
  background-color: transparent;
  color: #0091be; }

.button.button-minimal.intent-info:hover {
  background-color: #0091be;
  color: #FFFFFF; }

.button.button-minimal.intent-success {
  background-color: transparent;
  color: #3cd3ae; }

.button.button-minimal.intent-success:hover {
  background-color: #3cd3ae;
  color: #FFFFFF; }

body {
  padding: 10px;
  padding-top: 50px; }

.demo-section {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bfbfc4; }

.demo-section:last-of-type {
  border-bottom: none; }

.demo-columns {
  display: flex; }

.button {
  margin-right: 10px;
  margin-bottom: 10px; }
